<!-- apps/app_amart/templates/app_amart/accueil.html -->
{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Bienvenue sur Smart Agro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success p-3">
        <div class="container-fluid">
            <div id="logo">
                <a class="navbar-brand" href="#">
                    <span class="logo-light" style="color: #fff; font-weight: bold;">Smart</span>
                    <span class="logo-dark" style="color: #333; font-weight: bold;">Agro</span>🌱
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    
                    {% comment %} <li class="nav-item">
                        <a class="nav-link mx-3 active" aria-current="accueil" href="{% url 'accueil' %}">Accueil</a>
                    </li>   {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'services' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'about_us' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'contact' %}">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'messages' %}">messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'predict_crop' %}">crop recommendation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'index' %}">crop Production</a>
                    </li>

                    
                    {% comment %} <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'weather' %}">weather</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'home' %}">weather</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'logout' %}">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        
    </div>

    
    <div class="background-image">
        <div class="welcome-message">
            <h1>Bienvenue sur Smart Agro</h1>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
