<!-- app_amart/templates/app_amart/contact.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %}Contactez-nous{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Contactez-nous</h2>
        <div class="contact-info">
            <div class="contact-item">
                <img src="{% static 'images/phone.png' %}" alt="Téléphone" style="width: 25px; height: 25px;">
                <p>Appelez-nous au : <strong>49684861_49190855</strong></p>
            </div>
            <div class="contact-item">
                <img src="{% static 'images/gmail.png' %}" alt="Email" style="width: 25px; height: 25px;">
                <p>Email : <strong><a href="mailto:smartagro860@gmail.com">smartagro860@gmail.com</a></strong></p>
            </div>
        </div>

        <div class="contact-form mt-4">
            <form method="post" action="{% url 'contact_submit' %}">
                {% csrf_token %}
                <!-- Ajoutez des champs de formulaire attrayants ici -->
                <div class="form-group">
                    <label for="nom">Nom :</label>
                    <input type="text" class="form-control" id="nom" name="nom">
                </div>
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="message">Message :</label>
                    <textarea class="form-control" id="message" name="message" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock content %}




