{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css"> 
    <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block styles %}{% endblock %}

</head>
<body>

    <style>
        .result-text {
            font-size: 150px; /* Augmente la taille de la police */
            color: #333; /* Change la couleur du texte */
            background-color: #f8f9fa; /* Ajoute un fond de couleur pour améliorer la visibilité */
            padding: 10px; /* Ajoute un espace autour du texte pour une meilleure lisibilité */
        }
    </style>



<div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-success p-3">
        <div class="container-fluid">
            <div id="logo">
                <a class="navbar-brand" href="{% url 'accueil' %}">
                    <span class="logo-light" style="color: #fff; font-weight: bold;">Smart</span>
                    <span class="logo-dark" style="color: #333; font-weight: bold;">Agro</span>🌱
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'services' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'about_us' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'messages' %}">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'predict_crop' %}">Crop Recommendation</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'weather' %}">Weather</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'home' %}">weather</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="#" class="subscribe-form">
                </form>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <!-- Additional Footer Content Here -->
            </div>
        </div>
    </div>
    <p class="colophon"></p>
</footer>
<div class="hero" data-bg-image="{% static 'images/mee.jpg' %}">
    <div class="container">
        <form action="{% url 'result' %}" class="find-location" method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Enter your city name..." required>
            <input type="submit" value="Find">
        </form>
    </div>
</div>

<div class="container">
    {% block content %}
    {% endblock content %}
</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="#" class="subscribe-form">
                </form>
            </div>
            <div class="col-md-3 col-md-offset-1">
            </div>
        </div>
    </div>
    <p class="colophon"></p>
</footer>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>
</html> 


